#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: linear-gradient(45deg, #4f84e0, #6a98d0);
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #FFD700;
  /* Gold hover effect */
}

.logo a {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
  }
}

.hero {
  background-image: url('https://via.placeholder.com/1500');
  /* Replace with your own image URL */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #041305;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  color: #041305;
}

.cta-btn {
  background-color: #FFD700;
  /* Gold color */
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: #d18b23e0
}
